@import "./../styles/variable.scss";

.form {
    margin-top: 50px;
    padding: 5px;
    text-align: center;
    

    &__item {
        padding: $spacing-sm;
    }

    &__input {
        border-radius: 5px;
        width: 30%;
        height: 30px;
        font-size: medium;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 3px;
    }
}

.submit_button {
    background-color: rgb(112, 227, 87);
    width: 10%;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        background-color: rgb(77, 206, 77);
    }
}

.error {
    color: red;
    font-size: 12px;
}
